body {
	font-family: Verdana, sans-serif;
}

.container h1 {
	color: rgb(52,153,207);
	text-shadow: 1px 1px 3px #777777;
}

/* Nagłówek */

.header {
	margin: 0px 5px 15px 5px;
	-moz-box-shadow: 5px 5px 5px #777777;
	-webkit-box-shadow: 5px 5px 5px #777777;
	box-shadow: 5px 5px 5px #777777;
	background-color: rgb(240,240,240);
	min-width: 670px;
}

#slogan {
	text-align: center;
}

.idea {
	margin-top: 10px;
	height: 90px;
	background-image: url("images/idea-pattern.jpg");
	background-repeat: repeat-x;
}

.menu {
	max-width: 1280px;
	margin: auto;
}

.menu li {
	display: inline;
}

.menu a {
	color: #212121;
	font-size: 18px;	
	text-shadow: 1px 1px 3px #777777;
	padding: 8px 20px 13px 20px;
}

.menu a:hover {
	color: #212121;
	text-decoration: none;
	font-weight: bold;
}

.current a {
	background-color: rgb(85,85,85);
	color: #e0e0e0;
	font-size: 20px;	
	text-shadow: 1px 1px 3px #2e2e2e;
}

.current a:hover {
	color: #e0e0e0;
	font-weight: normal;
}


/* Index.html */

.index_text img {
	float: left;
	margin: 20px;
	-moz-box-shadow: 5px 5px 5px #777777;
	-webkit-box-shadow: 5px 5px 5px #777777;
	box-shadow: 5px 5px 5px #777777;
}

.index_text p {
	padding-top: 40px;
	text-align: justify;
}

.index_buttons {
	text-align: center;
}

.index_buttons a {
	text-decoration: none;
	font-size: 40px;
	color: rgb(255,255,255);
	text-shadow: 1px 1px 3px #777777;
}

.index_buttons a:hover {
	color: rgb(255,255,255);
	text-decoration: none;
	font-weight: bold;
}

#index_about {
	color: white;
	padding-top: 65px;
	clear: both;
	float: left;
	height: 195px;
	width: 350px;
	margin: 10px;
	background-color: rgb(52,153,207); /* niebieski */
}

#index_portfolio {
	color: white;
	padding-top: 65px;
	float: left;
	height: 195px;
	width: 350px;
	margin: 10px;
	background-color: rgb(250,183,40); /* zółty */
}

#index_kontakt {
	color: white;
	padding-top: 65px;
	float: left;
	height: 195px;
	width: 350px;
	margin: 10px 0px 10px 10px;
	background-color: rgb(123,184,47); /*zielony*/
}

/* CV.html */

.cv_text img {
	float: left;
	margin: 10px 20px 20px 0px;
	-moz-box-shadow: 5px 5px 5px #777777;
	-webkit-box-shadow: 5px 5px 5px #777777;
	box-shadow: 5px 5px 5px #777777;
}

.cv_text li {
	margin-top: 5px;
}

.cv_text h2 {
	color: rgb(123,184,47);
	text-shadow: 1px 1px 3px #777777;
}

.cv_text h3 {
	color: rgb(76,54,116); /* fioletowy */
}

#cv_header {
	float: left;
}

#cv_header p {
	font-size: 20px;
}

#cv_header a {
	color: rgb(51,51,51);
	text-decoration: none;
}

#cv_header a:hover {
	text-decoration: underline;
}

.c_h_1 {
	color: rgb(52,153,207);
}

.cv_po h2 {
	color: rgb(250,183,40);
}

.cv_po {
	clear: both;
	padding: 0px 20px 20px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 5px solid rgb(250,183,40);
	-moz-box-shadow: 5px 5px 5px #777777;
	-webkit-box-shadow: 5px 5px 5px #777777;
	box-shadow: 5px 5px 5px #777777;
}

/* Projects.html */

#pro_menu a {
	float: left;
	text-align: center;
	height: 180px;
	width: 200px;
	margin: 10px;
	background-image: url("images/projekt.jpg");
	background-repeat: no-repeat;
	margin: 10px 10px 30px 10px;
}

.pro_menu_style {
	font-size: 30px;
	text-decoration: none;
	color: rgb(123,184,47);
	padding-top: 40px;
}

.pro_menu_style:hover {
	color: rgb(123,184,47);
	font-weight: bold;
	text-decoration: none;
}

.pro_text h1 {
	clear:both;
	margin-top: 30px;
}

.pro_text img {
	float: right;
	margin: 10px;
}

.pro_text a {
	color: rgb(250,183,40);
	font-style: italic;
}

/* kontakt.html */

#kon_text {
	text-align: center;
}

#kon_text p {
	font-size: 20px;
	line-height: 1.4em;
}

#kon_text  h1 {
	padding: 20px 0px 30px 0px;
}

#kon_text a {
	color: rgb(51,51,51);
	text-decoration: none;
}

#kon_text a:hover {
	color: rgb(51,51,51);
	text-decoration: underline;
}

#kon_text .kont_p {
	font-size: 12px;
	padding-bottom: 20px;
}

/* Stopka */

.footer {
	border-radius: 10px;
	background-color: #2a2a2a;
	margin-top: 20px;
	clear: both;
}

.footer p {
	padding: 10px;
	text-align: right;
	font-size: 12px;
	color: #d1d1d1;
}